body {
    background-color: #0b0b0b;
    height: 1000px;
}

.centerContainer {
    margin: auto;
    width: 1100px;
    padding-bottom: 20px;
}

.pageHeader {
    text-align: center;
}

.banner {
    width: 600px;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.headerNavBar {
    display: table;
    margin: auto;
}

.headerNavBarButton {
    display: table-cell;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.headerNavBarButton * {
    font-size: 16px;
}

.headerLink {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    text-decoration: none;
}

.headerLink:hover {
    color: hotpink;
    text-decoration: underline;
}

.headerLink:active {
    color: purple;
}

.topRightHeader {
    float: right;
    display: flex;
    flex-direction: column;
}

.topRightHeaderItem {
    margin-bottom: 20px;
    float: right;
    background-color: #181818;
    width: 300px;
    border-radius: 4px;
    padding: 30px;
    padding-bottom: 20px;
    margin-left: 30px;
}

.topRightHeaderTextContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topRightHeaderText {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    margin-left: 10px;
}

.topRightHeaderLinkContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topRightHeaderLink {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.topRightHeaderLink:hover {
    color: hotpink;
    text-decoration: underline;
}

.topRightHeaderLink:active {
    color: purple;
}

.postListNavigator {
    background-color: #181818;
    padding: 10px;
    padding-right:20px;
    margin-top: 20px;
    width: 690px;
    height: 24px;
    border-radius: 4px;
    text-align: right;
}

.postListNavigatorItems {
    display: inline-block;
}

.postListNavigatorItems * {
    display: inline-block;
}

.navLink {
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white; 
    text-decoration: none;
}

.navLink:hover {
    color: hotpink;
    text-decoration: underline;
    cursor: pointer;
}

.navLink:hover * {
    color: hotpink;
}

.navLink:active {
    color: purple;
}

.post {
    background-color: #181818;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 680px;
    border-radius: 4px;
}

.postTitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.postDate {
    margin-top: 10px;
    margin-bottom: 10px;
}

.postBody {
    width: 640px;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.postID {
    margin-top: 30px;
    text-align: right;
}

button {
    font-family: "lucida Console", Monaco, monospace;
    background-color: #181818;
    color: white; 
    border-color: darkgray;
}

button:hover {
    color: hotpink;
    cursor: pointer;
}

button:disabled {
    color: #3e3e3e;
    border-color: #3e3e3e;
    cursor: default;
}

.postListPagesLinks {
    font-size: 13px;
    font-family: "Lucida Console", Monaco, monospace;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.postListPagesLinks:hover {
    color: hotpink; 
    cursor: pointer;
}

.postListPagesLinks:active {
    color: purple; 
}

.hoverPink {
    float: left;
    background-color: hotpink;
}

.galleryThumbnail {
    transition:  0.5s;
}

.galleryThumbnail:hover {
    filter: opacity(50%);
}

text {
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
}

hr {
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hrSubtle {
    color: #333333;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.darkHr {
    color: #181818;
    margin-top: 20px;
    margin-bottom: 20px;
}